{% extends 'layouts/base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='d3.v7.min.js') }}"></script>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='vue-assets/dt-editor.css') }}">

<form>
    <select id="asset-select">
        {% for id, asset in assets %}
        {% if id == selected_asset-1 %}
        <option value="{{ id + 1 }}" selected>{{ asset }}</option>
        {% else %}
        <option value="{{ id + 1 }}">{{ asset }}</option>
        {% endif %}
        {% endfor %}
    </select>
</form>

<p class="text-hint">E' possibile modificare le risposte del decision tree cliccando su un nodo.</p>

<div id="DT-valutabile" 
     data-tree='{{ json_dt | tojson | forceescape }}'
     data-device-id='{{ device_id }}'>
</div>

<div class="buttons">
    {% if back_link != "" %}
    <a href="{{ back_link }}" class="btnBack">Indietro</a>
    {% endif %}
    {% if forward_link != "" %}
    <a href="{{ forward_link }}" class="btnForward">Avanti</a>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='vue-assets/dt-editor.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const assetSelect = document.getElementById("asset-select");
        if (assetSelect) {
            assetSelect.addEventListener('change', function (event) {
                const deviceId = window.location.href.split('/')[3];
                window.location.replace(`${window.location.origin}/${deviceId}/dt/${event.target.value}/ACM-1`);
            });
        }
    });
</script>
{% endblock %}